body {
  background: #e6e8f0;
}

table {
  margin: 0 auto;
  border: solid 2px black;
  width: 100%;
}

td {
  padding: 5px 15px 5px 15px;
  border: solid 1px gray;
}

tr.header {
  font-weight: bold;
}

footer {
  font-size: 12px;
}

.italics {
  font-style: italic;
}
