<!DOCTYPE html>
<html lang="en">
<head>

	<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
	<title>{% block title %}So You Think You Can Cater{% endblock %}</title>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='bootstrap.min.css') }}">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

	<div class="container">

		<div class="row mt-4">
			<div class="col-sm-12">
				<h1 class="text-center">So You Think You Can Cater</h1>
			</div>
		</div>

		{% with messages = get_flashed_messages() %}
			{% if messages %}
				{% for m in messages %}
					<div class="row mt-4">
						<div class="col-sm-12">
							<div class="alert alert-primary" role="alert">
								{{ m }}
							</div>
						</div>
					</div>
				{% endfor %}
			{% endif %}
		{% endwith %}

		{% if "username" in session %}
		<div class="row mt-4">
			<div class="col-sm-12">
					<p class="text-center">
						Welcome, {{ session["username"] }}!
					</p>
				<p class="text-center">
					<a href="{{ url_for("logout") }}">Logout</a>
				</p>
				{% block menu %}
				{% endblock %}
			</div>
		</div>
		{% endif %}

		{% block content %}
		{% endblock %}

		<footer class="row mt-5">
			<div class="col-sm-12">
				<p class="text-center">
					Jordan Grogan<br />
					<a href="mailto:jordangrogan@pitt.edu">jordangrogan@pitt.edu</a><br />
					Tues/Thurs 6pm
				</p>
			</div>
		</footer>

	</div>

</body>
</html>
