{% extends "base.html" %}

{% block title %}{{ super() }} - Login{% endblock %}

{% block content %}
<div class="row mt-4">
	<div class="col-sm-12">
		<h2 class="text-center">Login</h2>
	</div>
</div>
<div class="row mt-4">
	<div class="col-sm-12">
		<form action="" method="post">
		  <div class="form-group">
		    <label for="inputUsername">Username</label>
		    <input type="text" class="form-control" id="inputUsername" placeholder="Username" name="username">
		  </div>
		  <div class="form-group">
		    <label for="inputPassword">Password</label>
		    <input type="password" class="form-control" id="inputPassword" placeholder="Password" name="password">
		  </div>
		  <button type="submit" value="submit" class="btn btn-primary">Submit</button>
		</form>
	</div>
</div>
<div class="row mt-4">
	<div class="col-sm-12">
		<p>Need an account? <a href="{{ url_for('register') }}">Click here to register.</a></p>
	</div>
</div>
{% endblock %}
